In [1]:
import pandas as pd
import numpy as np
import pickle
import plotly.graph_objs as go
import ipywidgets as widgets
from IPython.display import display

from utils import plot_3d_clusters, classify_text

In [2]:
%load_ext autoreload
%autoreload 2

In [11]:
# user_chat_df = pickle.load(open('user_chat_dataframe.pkl', 'rb'))
pkl_data = pickle.load(open('cluster_data.pkl', 'rb'))
clusters, labels, pca = pkl_data['clusters'], pkl_data['labels'], pkl_data['pca']
vectorizer = pickle.load(open('encoder.pkl', 'rb'))
encodings = pickle.load(open('encodings.pkl', 'rb'))

In [12]:
fig = plot_3d_clusters(pca, labels, max_points=50000)

In [13]:
cluster_dd = widgets.Dropdown(
                options=[(f'Cluster {i}', i) for i in range(max(labels)+1)],
                value=0,
                description='Cluster:',
            )

def on_click(trace, points, state):
    cluster_dd.value = int(trace.marker.color[points.point_inds[0]])
    
fig.data[0].on_click(on_click)

In [14]:
fig

FigureWidget({
    'data': [{'hoverinfo': 'text',
              'marker': {'color': array([2, 3, 2, ..., 3, 2,…

In [ ]:
display(cluster_dd)

In [23]:
combined = widgets.VBox([fig, cluster_dd])
display(combined)

VBox(children=(FigureWidget({
    'data': [{'hoverinfo': 'text',
              'marker': {'color': array([4, 4…

In [7]:
#Example of how to classify new text
classify_text(vectorizer, clusters, ['Ok I am not sure what is going on', 
                                     'Over the course of a match, champions gain levels by accruing experience points (XP) through killing enemies',
                                     'what are you guys talking about️'
                                    ])

array([3, 0, 3])

In [8]:
user_chat_df.loc[labels == cluster_dd.value]

                    User                                              Chats
88                   val  [ heyo, hihi, does anyone play yttd? your turn...
148                  ryn  [ @ Rhya feliz navidad, wait what, sandwich?.....
197                Pocky  [ um.., hi.., hiii, hiii, im good., indeed, ok...
249     iloveyou,itsokay  [ Hi! I'm new:, Share, LMAO, Hello! I wasn't a...
255                  mon  [ @dartaNan, good, welcome, tyy :smirk:, :ypde...
...                  ...                                                ...
471409               Zal  [ Yahallo, Wew genshin, Welcome, :PIyaywelcome...
471577  Devalos Yuternal  [ Hmm, Hello, Hmm, Im i allowed to join the vc...
471606        moisescdls  [ :PIyay2:, Welcome, :PIdisgusted:, Elizabeth ...
471676        Dio brando  [ Hello, And welcome, Welcome @Dio brando, Wel...
471682       Uncle Death  [ hello, i need friends, im libra, hello stran...

[3798 rows x 2 columns]

In [20]:
user_chat_df[user_chat_df['User'] == 'muffins ']

          User                                              Chats
3937  muffins   [ Oh., Guess... I'm back..., And none's here.....